:root{
    --primary-color: #f700ff;
    --primary-color-010: #eb49fa;
    
    --secondary-color: #6c757d;
    --secondary-color-010: #a1a1a1;

    --white: #fff;
    
    --black: #18171d;
    --black-010: #1f1e24;

    --gray: #6c757d;
}