:root{
    --primary-color: #8a018f;
    --primary-color-010: #f396fc;
    
    --secondary-color: #6b5c88;
    --secondary-color-010: #6b5c70;

    --white: #fff;
    
    --black: #616063;
    --black-010: #9e9b9b;

    --gray: #b8b9bb;
}