<header>
    <img src="assets/img/giovana-profile.JPG"
    alt="Giovana - Foto de perfil" 
    width="130px"
    height="130px"
    loading="eager"
    class="logo"/>
    <h1>Giovana</h1>
</header>

<aside>
    <div class="container">
        <p>Desenvolvedora Front-end</p>
        <p>Especialista em Angular</p>
    </div>
    <nav>
        <ul>
            <li>
                <a href="assets/pdf/cv.pdf" target="_blank" class="btn btn-primary">
                    Baixar CV
                </a>
            </li>
            <li>
                <a href="https://br.linkedin.com/in/giovana-pereira2bbb182aa" target="_blank" class="btn btn-secondary">
                    LinkedIn
                </a>
            </li>
        </ul>
    </nav>

    <section>
        <figure>
            <img src="assets/icons/whatsapp.svg" alt="ícone do WhatsApp" width="22px" height="24px">
            <figcaption>
                <a href="https://api.whatsapp.com/send?phone=5535999152341" target="_blank">
                <strong>Envie uma mensagem para:</strong>
                <p>+55 35 99915-2341</p>
                </a>
            </figcaption>
        </figure>
         <figure>
            <img src="assets/icons/mail.svg" alt="ícone do Email" width="22px" height="24px">
            <figcaption>
                <a href="mailto:giovanasilveriopereiratp@gmail.com" target="_blank">
                <strong>Envie uma mensagem para:</strong>
                <p>giovanasilveriopereiratp&#64;gmail.com</p>
                </a>
            </figcaption>
        </figure>

    </section>

</aside>